{% extends 'base.html' %}
{% block page_title %}{{ title }}{% endblock %}
{% block nav_archives_class %}active{% endblock %}
{% block main %}
<div class="blog-post">
    <p class="blog-post-meta">{{ date.strftime('%Y-%m-%d %H:%M') }}</p>
    {{ html }}
</div><!-- /.blog-post -->
{% endblock %}