<div class="sidebar-module sidebar-module-inset">
    {% block sidebar_content %}
        {% if sidebar_item.title %}
        <h4>{{ sidebar_item.title }}</h4>
        {% endif %}

        <p>{{ sidebar_item.content }}</p>
    {% endblock %}
</div>