body {
    padding-bottom: 50px;
    min-height: 800px;
}

.page-header, .page-header h1 {
    margin-top: 0;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.content-col {
  padding-left: 0;
}

.post-item h4 {
  margin: 0;
}

.post-item {
    margin-bottom: 15px;
}

.post-item .toolbar {
}