{% extends 'base.html' %}
{% block nav_home_class %}active{% endblock %}
{% block main %}
{% for post in posts %}
    <div class="blog-post">
        <h4 class="blog-post-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
        <p class="blog-post-meta">{{ post.date.strftime('%Y-%m-%d %H:%M') }}</p>

        {% if post.summary %}
            {{ post.summary }}
        {% else %}
            {{ post.content|truncate }}
        {% endif %}
    </div><!-- /.blog-post -->
{% endfor %}
{% endblock %}