{% extends 'base.html' %}
{% block nav_compose_class %}active{% endblock %}
{% block page_header %}Compose{% endblock %}
{% block main %}
<form role="form" action="{% block action_url %}{{ url_for('Posts:compose') }}{% endblock %}" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" name="title" type="text" class="form-control" placeholder="Required" value="{{ post.title }}" />
    </div>

    <div class="form-group">
        <label for="title">Summary</label>
        <input id="summary" name="summary" type="text" class="form-control" placeholder="" value="{{ post.summary }}" />
    </div>

    <div class="form-group">
        <label for="date">Date</label>
        <input type="text" name="date" id="date" class="form-control" value="{{ post.date.strftime('%Y-%m-%d %H:%M') }}" />
    </div>

    <div class="checkbox">
        <label><input type="checkbox" name="is_draft" {% if post.status == 'draft' %}checked{% endif %} />Draft</label>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 content-col">
                <div class="form-group">
                    <label for="body">Content</label>
                    <textarea id="body" name="body" class="form-control" rows="20">{{ post.body }}</textarea>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="preview">Preview</label>
                    <div id="preview"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="date">Tags</label>
        <span class="help-block">Comma separated</span>
        <input type="text" name="tags" id="tags" class="form-control" value="{{ post.tags }}" />
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}