{% extends 'base.html' %}
{% block page_header %}Your Pages{% endblock %}
{% block main %}
<ul class="list-unstyled archive-list">
    {% for page in pages %}
    <li class="post-item">{{ page.title }}</li>
    {% else %}
    <li class="post-item"><i>No pages found</i></li>
    {% endfor %}
</ul>
{% endblock %}