{% extends 'base.html' %}
{% block page_header %}Your Posts{% endblock %}
{% block main %}
    <ul class="list-unstyled archive-list">
        {% for post in posts %}
        <li class="post-item">
            <div class="text-muted"><small>{{post.date.strftime('%A %B %d %H:%M')}}</small></div>
            <h4>
                <a href="{{ url_for('Posts:edit', id=post.id) }}">{{post.title}}</a>
                <div class="btn-group toolbar">
                    <a class="btn btn-default btn-xs" title="View"><i class="fa fa-eye"></i></a>
                    <a class="btn btn-default btn-xs" title="Edit"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-default btn-xs" title="Publish"><i class="fa fa-share"></i></a>
                </div>
                <div class="btn-group toolbar">
                    <a class="btn btn-default btn-xs" title="Delete"><i class="fa fa-trash-o"></i></a>
                </div>
            </h4>

            {% if post.summary %}
                <p>{{ post.summary }}</p>
            {% else %}
                <p><i>No Summary</i></p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}