{% extends 'base.html' %}
{% block page_header %}Publish{% endblock %}
{% block main %}
<form id="publish_form" role="form" action="{{ url_for('Site:publish') }}" method="POST">
    <div class="checkbox">
        <label><input type="checkbox" name="republish" />Republish</label>
        <p class="help-block">Normal only out-of-date files will be processed. Check this to publish everything</p>
    </div>

    <button type="submit" class="btn btn-default">Publish</button>
</form>
{% endblock %}